html, body {
  height: 100%;
  margin: 0;
}

body {
  overflow: hidden;
}

.background {
  background: url('../assets/background.png');
  background-size: 100% 100%;
  position: fixed;
  width: 100%;
  height: 100%;
}

canvas {
  position:absolute;
  top: 0;
  left: 0;
}

canvas.zoomed {
  width: 100%;
}

.left-panel,
.right-panel {
  position: fixed;
  bottom: 10px;
  width: 45%;
  z-index: 3;
}

.left-panel { 
  left: 10px;
}

.right-panel {
  right: 10px;
  text-align: right; 
}

.code .CodeMirror {
  height: 220px;
  border-radius: 5px;
  opacity: 0.8;
  text-align: left;
}

.log {
  height: 222px;
  width: 100%;
  border: 1px dashed #e1c9ec;
  background: white;
  opacity: 0.8;
  padding: 10px 20px;
  overflow-x: hidden;
  border-radius: 5px;
}

.log p {
  margin-bottom: 5px; 
  margin-top: 2px;
  font-family: 'verdana';
  font-size: 9px;
  position: relative;
}

.log p.attention-calling {
  color: green;
}

.log p.error {
  color: red;
}

.log p.player-log {
  color: blue;
}

.restart,
.pause {
  position: relative;
  left: 0px;
  top: -10px;
  opacity: 0.8;
  margin-bottom: 0;
}

.turn-ui {
  padding: 6px 12px;
  background: white;
  border-radius: 4px;
  display: inline-block;
  position: relative;
  top: -8px;
  line-height: 24px;
  border: 1px solid #f3f3f3;
  opacity: 0.8;
  margin-left: 10px;
  width: 95px;
  text-align: center;
}

#slider-turn-speed {
  width: 180px;
  position: relative;
  top: -10px;
  margin-left: 20px;
}

#slider-turn-speed .slider-handle {
  background-color: #4c1a4c;
  background-image: linear-gradient(to bottom,#4c1a4c 0,#612061 100%);
  opacity: 0.8;
}

.simulate-multiple,
.fullscreen,
.documentation {
  position: relative;
  left: 0px;
  top: -10px;
  opacity: 0.8;
  z-index: 10;
  margin-bottom: 0;
}

.backdrop {
  background: black;
  opacity: 0.5;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 2;
  display: none;
}

.backdrop.active {
  display: block;
}

.modal-dialog {
  max-width: 90% !important;
}

.modal-dialog img + img {
  margin-left: 20px;
}

.code-example {
  font-weight: bold;
  color: #4c1a4c;
}

.explanation {}

.outputs {
  color: grey;
}

.timer {
  position: fixed;
  left: 10px;
  top: 10px;
  color: black;
  font-weight: bold;
  font-size: 20px;
}

.compass {
  position: fixed;
  right: 10px;
  top: 10px;
  width: 135px;
}

audio {
  display: none;
}

.menu {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 11;
}

.menu .top {
  height: 30%;
  background-color: white;
  position: relative;
  overflow: hidden;
}

.menu .top .logo {
  position: absolute;
  top: 50%;
  margin-top: -47px;
  left: 50%;
  margin-left: -132px;
}

.menu .bottom {
  height: 70%;
  background-color: purple;
  position: relative;
  font-family: 'VT323', monospace;
}

.menu .bottom.transparent {
  background-color: transparent;
}

.menu .bottom .content {
  width: 800px;
  position: absolute;
  top: 20%;
  margin-top: -50px;
  left: 50%;
  margin-left: -400px;
  text-align: center;
}

.menu .bottom h1 {
  margin: 0;
  color: white;
  font-size: 100px;
}

.menu .bottom h2 {
  margin: 0;
  color: white;
  font-size: 32px;
  margin: 20px 0 40px;
}

.menu .bottom .btn {
  font-size: 32px;
}

.menu .slide {
  display: none;
}

.menu .slide-1 {
  display: block;
}

.menu [name="playerName"] {
  padding: 10px;
  margin: 20px;
  text-align: center;
  width: 65%;
}