.log {
  height: 88px;
  width: 100%;
  padding-bottom: 5px;
}

.log p {
  font-size: 16px;
  line-height: 1.33;
}

.backdrop {
  opacity: 0;
}

.showdown-announcement {
  font-family: 'VT323', monospace;
  font-size: 72px;
  position: fixed;
  top: -100%;
  left: 50%;
  margin-top: -120px;
  margin-left: -200px;
  padding: 50px;
  color: white;
  background-color: purple;
  z-index: 3;
  border: 10px dashed white;
}

.participants {
  margin-bottom: 0;
}

.participant {
  padding: 6px 12px;
  background: white;
  border-radius: 4px;
  display: inline-block;
  line-height: 24px;
  border: 1px solid #f3f3f3;
  opacity: 0.8;
  margin-left: 10px;
  margin-top: 10px;
  text-align: center;
}

.participant .badge-alive { display: none; }
.participant .badge-dead { display: inline-block; }
.participant.alive .badge-alive { display: inline-block; }
.participant.alive .badge-dead { display: none; }